.loader_wrapper {
  width: 100%;
  height: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #d3d3d3;
  border-top-color: #b21c64;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
