.dashboard {
  border: 1px solid #dfe4e9;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dashboard_heading {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #dfe4e9;
  font-size: 1.25rem;
  font-weight: 600;
}

.dashboard_content {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard_tiles {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard_tile {
  width: 100%;
}

.dashboard_graphs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard_graph {
  width: 100%;
  height: 100%;
  border: 1px solid #dfe4e9;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
}

.dashboard_graph_heading {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 1px solid #dfe4e9;
}

.dashboard_graph_box {
  height: 100%;
  /* max-height: 50vh; */
  display: flex;
  align-items: center;
}
