.notification-card {
  flex: 0 0 calc(25% - 3rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #dfe4e9;
  border-radius: 0.5rem;
}

.notification-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #dfe4e9;
  border-radius: 0.25rem;
  cursor: pointer;
  accent-color: #b21c64;
}

.notification-actions-right {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.notification-action-btn {
  border: 1px solid #dfe4e9;
  border-radius: 0.25rem;
  height: 1.25rem;
  width: 1.25rem;
  display: grid;
  place-items: center;
  background: none;
  cursor: pointer;
}

.notification-metadata {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.625rem;
  color: #737791;
}

.notification-metadata-items {
  padding-right: 0.5rem;
  border-right: 1px solid #dfe4e9;
}

.notification-plus {
  background: #f4e7cc;
  color: #ffaa00;
  padding: 2px 8px;
  border-radius: 10px;
}

.notification-title {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
}

.notification-description {
  font-size: 0.75rem;
  color: #737791;
  margin-top: -4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4;
  max-height: 5.5ch;
  position: relative;
}
