.notification_wrapper {
  border: 1px solid #dfe4e9;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.notification_header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #dfe4e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.notification_heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.notification_actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.notification_search {
  display: flex;
  align-items: center;
  border: 1px solid #dfe4e9;
  border-radius: 0.45rem;
}

.notification_search_field {
  border: none;
  padding: 0.5rem;
  font-size: 0.85rem;
  border-radius: 0.45rem;
}

.notification_search_field:focus-visible {
  outline: none;
}

.notification_search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  border-left: 1px solid #dfe4e9;
  padding-inline: 0.25rem;
}

.notification_actions_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  width: 3.75rem;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
}

.notification_actions_filter_btn {
  background: #f5f5f5;
}

.notification_actions_filter_btn:hover {
  background: #e7e7e7;
}

.notification_actions_add_btn,
.notification-sent {
  color: #fff;
  background: #b21c64;
}

.notification_actions_add_btn:hover {
  background: #b6296d;
}

.notification-sent {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.notification-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  overflow: hidden;
}

.notification-content-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.notification-delivered-section {
  flex: 1;
  overflow: hidden;
}

.notification-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-content-heading {
  font-size: 1rem;
  font-weight: 600;
}

.notification-undelivered-cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  flex-wrap: nowrap;
}

.notification-undelivered-cards::-webkit-scrollbar {
  display: none;
}

.notification-delivered-cards {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  align-items: start;
}

.notification-delivered-cards::-webkit-scrollbar {
  display: none;
}
