.tile {
  padding: 1rem 1.254rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid #dfe4e9;
}

.tile_count {
  font-size: 1.25rem;
  font-weight: 600;
}

.tile_label {
  font-size: 0.875rem;
  font-weight: 300;
  color: #737791;
}

.tile_footer {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 0.5rem;
}

.tile_rates {
  display: flex;
  align-items: center;

  gap: 0.25rem;
  padding: 0.375rem;
  border-radius: 0.375rem;
}

.tile_rate_label {
  font-weight: 300;
  color: #737791;
}
