.tile {
  padding: 1rem 1.254rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid #dfe4e9;
}

.tile_count {
  font-size: 1.25rem;
  font-weight: 600;
}

.tile_label {
  font-size: 0.875rem;
  font-weight: 300;
  color: #737791;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile_footer {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 0.5rem;
}

.tile_rates {
  display: flex;
  align-items: center;

  gap: 0.25rem;
  padding: 0.375rem;
  border-radius: 0.375rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile_rate_label {
  font-weight: 300;
  color: #737791;
}

@media (max-width: 576px) {
  .tile {
    padding: 0.75rem 0.9rem;
    gap: 0.5rem;
    border-radius: 0.4rem;
  }

  .tile_count {
    font-size: 1rem;
  }

  .tile_label {
    display: block;
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tile_footer {
    font-size: 0.65rem;
    gap: 0.35rem;
  }

  .tile_rates {
    gap: 0.2rem;
    padding: 0.25rem;
    border-radius: 0.3rem;
  }

  .tile_rate_label {
    font-size: 0.7rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
