#root {
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
/* * {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
} */

.app_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page_wrapper {
  padding: 1.5rem;
  flex: 1;
  background: #f5f5f5;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
