#root {
  height: 100vh;
  overflow: hidden;
}

.app_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page_wrapper {
  padding: 1.5rem;
  flex: 1;
  background: #f5f5f5;
  overflow: hidden;
}
